<html>
<body>

<p>Coords will load momentarily.</p>
<p>{{q}}</p>
{{area}}
<form action="{% url 'search_view' %}" class="form-wrap mt-4" method="get" autocomplete="off">
                                  {% csrf_token %}
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input id='q' name="q" type="text" placeholder="Name.." class="btn-group1" style="outline: 0;" hidden>
                                        <input id="area" name="area" type="text" placeholder="Area.." class="btn-group2" style="outline: 0;" hidden>
                                        <input id="king" name="king" type="text" placeholder="Area.." class="btn-group2" style="outline: 0;">
                                        <button id='sarch' type="submit" class="btn-form" style="outline: 0; background: #ffbf24;"><span class="icon-magnifier search-icon"></span>SEARCH<i class="pe-7s-angle-right"></i></button>
                                    </div>
                                </form>


<script
  src="https://code.jquery.com/jquery-3.4.1.slim.js"
  integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
  crossorigin="anonymous"></script>


<script>
        if(navigator.geolocation) {
                alert('Browset support geo')
                console.log({{q}})
                navigator.geolocation.getCurrentPosition(function(position){
                    setTimeout(5000, alert('hi'))
                    clearTimeout()
                    alert(position.coords.latitude);
                });
            }
            else
            {
                alert("Geolocation not supported by your browser");
            }



</script>




</body>
</html>